* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

#tituloPrincipal {
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}
#formularioUsuario {
    height: 10rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputLogin {
    height: 4rem;
    font-size: 1.5rem;
}

#contenedorForm {
    border: 2px solid red;
    height: 25rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorForm div{
    border: 2px solid green;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #cbd9f2;
}